.mat-table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background: #ccc;
  color:#000;
  font-weight: bold;
  font-size: 15px;
}
.mat-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}